body{color:#ffffffde;background-color:#fff;margin:0;padding:0;font-family:Arial,Helvetica,sans-serif}#app{justify-content:center;align-items:center;width:100%;height:100vh;display:flex;overflow:hidden}
